/* reset margins */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li,
blockquote, pre, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, section, summary, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* setup body */
body, p {
    line-height: 1;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12pt;
}

/* reasonable starting margins */
p, h1, h2, h3, h4, h5, h6, ol, ul, li { margin: 12pt; }
li { margin-left: 2em; }

/* setup headings */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

h1 { font-size: 200%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

/* setup pre */
pre { font-family: consolas, monaco, courier, monospace; }

/* page structure */

body {
    margin: 0 1ex 0 1ex;
    background-color: #1E824C;
    font-size: 100%;
    line-height: 130%;
}

form, input, textarea, .no-line-height {
    margin: 0;
    line-height: normal;
}

a {
    text-decoration: underline;
    font-weight: bold;
    color: #330033;
    background-color: inherit;
}

a:hover {
    color: #993333;
    text-decoration: none;
}

.serif {
    font-family: georgia, serif;
}

.small, .smallred {
    font-family: tahoma, verdana, sans-serif;
    font-size: 10px;
    line-height: normal;
}

.red, .smallred {
    color: #900;
}

.plain {
    font-weight: normal;
    color: #000;
    background-color: transparent;
}

h1, .heading {
    font-weight: bold;
    color: #000;
    font-size: 24px;
    line-height: 130%;
}

h2, .subheading {
    font-weight: bold;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1.2ex;
    margin-bottom: 1ex;
    line-height: 114%;
}

h3, .subsub {
    font-weight: bold;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

.tt, code, pre {
    font-family: 'Source Code Pro', consolas, monaco, courier, monospace;
}

tt, code {
    font-size: 13px;
}

pre {
    font-size: 11px;
    line-height: normal;
}

.code {
    font-size: 11px;
    line-height: normal;
    border: 1px solid #ccc;
    padding: 3 5 3 5;
 }

/* common elements */

div.form, div.content {
    margin-top: 10px;
    padding: 3px 9px 5px 9px;
    background-color: #EEE657;
}

p.prompt {
    margin: 0;
    color: #333;
    font-size: 100%;
}

textarea {
    border: 1px solid #ccc;
    width: 100%;
    height: 150px;
    font-size: 20px;
    font-family: 'Source Code Pro', consolas, monaco, courier, monospace;
}

.SQLField {
    margin: 0;
    font-family: 'Source Code Pro', consolas, monaco, courier, monospace;
    font-size: 100%;
}

.go_button {
    margin: 3px 0 0px 0;
    text-align: center;
}

input.go_button {
    color: #070;
    width: 48pt;
}

div.title_area {
    margin-bottom: 15px;
}

table.title_area {
    margin: 0;
    padding: 0;
    width: 100%;
}

.title, .subtitle, .copyright {
    line-height: normal;
    color: #eed;
    margin: 0;
    padding: 0;
}

.subtitle {
    text-align: right;
    vertical-align: top;
}

.title {
    font-weight: bold;
    font-size: 24pt;
 }

.yellowbox, .message, .error_message {
    background-color: #EEE657;
    border: 1px solid #cc9;
    padding: 3px;
    margin: 3px 0 3px 0;
}

.message, .error_message {
    font-size: 90%;
}
.message {
    color: #055;
}

.error_message {
    color: #900;
}

.copyright {
    margin: 0;
    text-align: right;
    font-size: 11px;
}

.footer {
    margin: 18pt 0 0 0;
    padding: 6pt 0 6pt 0;
    clear: all;
}

/* results */

table.results {
    border-collapse: collapse;
}

td.column_head, td.cell_value {
    font-size: 80%;
    padding: 0 3px 0 3px;
    border: 1px solid #ccc;
}

td.column_head {
    background-color: #dde;
}

td.cell_value {
    background-color: #eed;
}

